.weapons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.individualWeapon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: auto;
  height: auto;
}

h2 {
  margin: 0;
  color: white;
}

img {
  width: 100%;
}
