.leftSizer {
  height: 100vh;
}

#leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  background-color: #27272f;
  border-top: 1px solid #929296;
}

#leftMenu.active {
  position: relative;
  margin-right: 50px;
  left: 0px;
}

#leftMenu.inactive {
  position: absolute;
  left: -201px;
}

#leftMenu ul li {
  width: 200px;
  color: white;
  margin: 10px;
}

.toggle-btn {
  position: absolute;
  left: 210px;
  top: 30px;
  cursor: pointer;
  color: white;
}

.toggle-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border: 2px solid #27272f;
  border-radius: 4px;
}

.individualOption {
  display: flex;
  width: 100%;

  text-decoration: none;
  border-bottom: 1px solid #929296;
  cursor: pointer;
}

.individualOption:hover {
  background-color: #4d4d4d;
}

.individualOption p {
  color: #929296;
  font-size: 18px;
  margin: 10px 10px 10px 30px;
}
